<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/barang"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="" alt="">
  <ion-card>
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col size="3"></ion-col>
          <ion-col>
            <ion-card-title class="ion-padding">Indra Gunawan</ion-card-title>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3"></ion-col>
          <ion-col>
            <ion-card-title>00000019911 - CL</ion-card-title>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-card-title class="ion-text-justify ion-padding">Untuk pengerjaan UTS ini saya mengerjakan sendiri. Untuk library, saya tidak ada menggunakan library eksternal untuk mengerjakan projek ini.</ion-card-title>
          <ion-card-title class="ion-text-justify ion-padding">Saya hanya menggunakan modul mingguan perkuliahan, dokumentasi pada website ionic, dan stackoverflow untuk mengerjakan projek UTS ini. </ion-card-title>
        </ion-row>
      </ion-grid>
    </ion-card-header>
  </ion-card>
</ion-content>
